
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#current_settings {
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    border-radius: 16px;
    padding: 16px;
    width: 75%;
}

.centered_items {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.dropdown {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 24px !important;
    width: 75%;
    padding: 16px;
    transition: all 0.3s;
    border-radius: 8px;
}

.label {
    margin-right: 16px; 
    margin-left: 16px; 
}

.destination_label {
    font-size: 24px; 
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.search_box {
    margin: 0;
    width: 100%;
    height: 48px;

    border: none;

    text-decoration: none;
    outline: none;
    transition: all 0.3s;
}

.suggestions_box {
    overflow: hidden;  /* Hide the element content, while height = 0 */
    height: 0;
    opacity: 0;
    transition: all 300ms;
}

.suggestions_box.visible {
    height: 128px; 
    opacity: 1;
    transition: all 300ms;
}

.countries_list {
    height: 128px;
    overflow: auto;
    list-style-type: none;
    padding: 4px;
}

.countries_list li {
    padding: 4px;
    cursor: pointer;
}

#submit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 16px;
}

.date_box {
    margin: 16px;
}

.date_input {
    width: 100%;
}

#return_div {
    height: 74px; 
    width: auto;
    opacity: 1;
    transition: all 0.5s;
}

#return_div.invisible {
    overflow: hidden;  /* Hide the element content, while height = 0 */
    height: 0;
    width: 0;
    opacity: 0;
    transition: all 0.5s;

}

#available_planes {
    border-radius: 16px;
    padding: 16px;
}

.table_legend {
    margin: auto;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
}

.route_row {
    /* height: 120px; */
    margin-top: 16px;
    margin-bottom: 16px;
}

.logo_link {
    margin: 8px auto 8px auto;
}

.airline_logo {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 2px 2px 12px 2px #2375be;
    width: 128px;
    height: 128px;
    border: solid 1px #3799f0;
}

.airline_name {
    margin: auto;
    font-style: italic;
    text-decoration: underline;
}

.flight_name_type {
    margin: auto;
    font-size: 12px;
    font-weight: 200;
}

.departure_arrival_time {
    margin: auto;
}

.price {
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.price:hover {
    text-decoration: none;
}

.prices_boxes {
    margin: 8px
}

.business_box {
    background-color: #E8CB4A;
}

.no_flights_found {
    margin: 32px auto 32px auto;
    font-style: italic;
    font-size: 32px;
}