/* Foreground colors theme */

.primary-dark {
    color: #2375be;
}

.primary {
    color: #3799f0;
}

.primary-light {
    color: #7abcf5;
}

.secondary {
    color: white;
}

.accent {
    color: #7357db;
}

/* Background colors theme (back-xxx) */

.back-primary-dark {
    background-color: #2375be;
}

.back-primary {
    background-color: #3799f0;
}

.back-primary-light {
    background-color: #7abcf5;
}

.back-secondary {
    background-color: white;
}

.back-accent {
    background-color: #7357db;
}