label {
    color: #3799F0;
}

#from_to_box {
    margin: 64px;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    height: 400px;

    border: 2px solid #3799F0;
    box-shadow: 0px 2px 6px #2375BE;
}

.search_box {
    width: 100%;
    margin: 0;
}

.suggestions_box {
    display: none;
}

.countries_list {
    list-style-type: none;
    padding: 0;
}
