.sidebar
{
    background-color: #4727B9;
    width: 8%;
    height: 85%;
    float: left;
}
.sidebar div
{
    color: rgb(220, 220, 220);
}
.sidebar div:hover
{
    color: #8f78e2;
}
.sidebar div:active
{
    color: #e8cb4a;
}
#ticketcreation
{
    margin: 5%;
    margin-left: 20%;
    float: left;
}
#showtickets
{
    margin: 5%;
    margin-left: 20%;
    float: left;
}
.ticket
{
    margin: 10px;
    background-color: #3799f0;
}